@model Sklep_Internetowy.Models.Product

@{
    ViewBag.Title = "Opis produktu";
}

<h2 style="text-align:center;">Opis  produktu</h2>

<div>

    <hr />

    <dl class="dl-horizontal">
        <dd>
            @{
                var base64 = Convert.ToBase64String(Model.Image);
                var imgSrc = string.Format("data:image/gif;base64,{0}", base64);
            }
            <div style="padding-left: 30px;  padding-right: 0px; padding-bottom:0px;">
                <img class="img-responsive" src="@imgSrc" @*style="max-width:500px;max-height:500px"*@ />
            </div>

        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd style="text-align:center;font-size:20px;font-weight:bold;">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd style="text-align:justify;">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.DetailedDescription)
        </dt>

        <dd style="text-align:justify;">
            @Html.DisplayFor(model => model.DetailedDescription)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd style=" color :red;font-weight:bold;">
            @Html.DisplayFor(model => model.Price)
        </dd>
        @Html.HiddenFor(model => model.IsNewProduct)
        @Html.HiddenFor(model => model.PromotionalProduct)

    </dl>
</div>


<p>
    @if(!User.IsInRole("Admin"))
    { 
    <input type="button" class="btn btn-danger" value="Dodaj do koszyka" onclick="location.href='@Url.Action("AddToCart", "Cart", new { id = Model.Id }, null)'" />
    }
    <input type="button" class="btn btn-info" value="Wróć do listy produktów" onclick="location.href='@Url.Action( "ListProducts","Products")'" />


